@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Kamu Kıdem Tazminatı Hesaplama";

}
@{
    var userAd = Context.Session.GetString("UserAd") ?? "Misafir";
    var userSoyad = Context.Session.GetString("UserSoyad") ?? "";
}



<div class="container-fluid p-0">
    <!-- Header -->
    <header class="bg-success shadow-sm py-2">
        <div class="container">
            <div class="d-flex align-items-center">
                <h1 class="h6 mb-0 text-white text-uppercase" style="margin-right: 10px;">Kıdem Tazminatı Hesaplama</h1>
                <p class="text-white mb-0" style="font-size: 0.8rem;">Şimdilik Sadece Kamu İşçileri İçin Çalışmaktadır</p>
            </div>
        </div>

    </header>
   @*  <div class="container mt-2">
        <div class="d-flex justify-content-between align-items-center bg-light rounded shadow-sm p-2">
            <h6 class="text-primary">👋 Hoşgeldin, @userAd @userSoyad</h6>
            <form asp-controller="Home" asp-action="Cikis" method="post">
                <button type="submit" class="btn btn-danger">Çıkış</button>
            </form>
        </div>
    </div> *@
    <!-- Body -->
    <main class="bg-light py-2">
        <div class="container mt-2">
            <p class="text-black mb-0" style="font-size: 0.8rem;">ÇOK YAKINDA HİZMETİNİZDE OLACAK.</p>

        </div>
    </main>

    <!-- Footer -->

</div>

<!-- Bootstrap Icons CDN -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
