@{
    ViewData["Title"] = "E-Sendika Anasayfa";
}

<div class="container mt-5">
    <div class="text-center mb-4 d-flex align-items-center justify-content-center">
        <img src="/images/esendikalogo.png" alt="E-Sendika Logo" class="me-3" style="height: 80px;">
        <p class="text-muted mb-0" style="font-size: 1.5rem;">Dijital sendikacılığın ilk adımı</p>
    </div>
    <div class="row gy-4 gx-4" style="row-gap: 5px;">
        <div class="col-6 col-md-4 d-flex">
            <a href="/Tablo" class="text-decoration-none w-100">
                <div class="tile bg-info text-white text-center p-4 rounded shadow flex-fill" style="min-height: 150px;">
                    <img src="/images/gsbMaasHesaplama.png" alt="GSB Maaş Hesaplama" class="mb-2" style="height: 80px;">
                    <h4>GSB</h4>
                    <h5>Maaş Tediye İkramiye Hesaplama</h5>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 d-flex">
            <a href="/Home/DilekceOrnekleri" class="text-decoration-none w-100" target="_self">
                <div class="tile bg-info text-white text-center p-4 rounded shadow flex-fill" style="min-height: 150px;">
                    <img src="/images/dilekceOrnekleri.png" alt="Dilekçe Örnekleri" class="mb-2" style="height: 80px;">
                    <h4>Hazırlanmış Dilekçe Örnekleri</h4>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 d-flex">
            <div class="tile bg-secondary text-white text-center p-4 rounded shadow flex-fill" style="min-height: 150px;">
                <img src="/images/kamuMisafirhaneleri.png" alt="Kamu Misafirhaneleri" class="mb-2" style="height: 80px;">
                <h4>Kamu Misafirhaneleri İletişim Bilgileri</h4>
            </div></a></div>
        <div class="col-6 col-md-4 d-flex">
            <div class="tile bg-warning text-white text-center p-4 rounded shadow flex-fill" style="min-height: 150px;">
                <img src="/images/kanunYonetmelikler.png" alt="Kanun ve Yönetmelikler" class="mb-2" style="height: 80px;">
                <h4>Kanun ve Yönetmelikler Yargıtay Kararları</h4>
            </div>
        </div>
        <div class="col-6 col-md-4 d-flex">
            <div class="tile bg-success text-white text-center p-4 rounded shadow flex-fill" style="min-height: 150px;">
                <img src="/images/kidemTazminatiHesaplama.png" alt="Kıdem Tazminatı Hesaplama" class="mb-2" style="height: 80px;">
                <h4>Kıdem Tazminatı Hesaplama</h4>
            </div>
        </div>
        <div class="col-6 col-md-4 d-flex">
            <div class="tile bg-primary text-white text-center p-4 rounded shadow flex-fill" style="min-height: 150px;">
                <img src="/images/sikcaSorulanSorular.png" alt="Sıkça Sorulan Sorular" class="mb-2" style="height: 80px;">
                <h4>Sıkça Sorulan Sorular ve Cevaplar</h4>
            </div>
        </div>
    </div>
</div>
